.main {
    margin: 30px;
    background-color: white;
}

body {
    background-color: #efefef;
}


.text-desc{
    font-size: 12px;
    font-weight: normal;
    color:#999999;
}
.profile.section{
    margin-top: 15px;
}
