.main {
    margin: 30px;
    /*background-color: white;*/
}

body {
    /*background-color: #efefef;*/
    background-size: 100%;
    background-color: transparent;
    background-image: url("/img/d.png");
}
.question-tag{
    margin-right: 5px;
}
.myColorRelated{
    color: #2689d0e3;
}
.label-primary{
    padding: 9px;
}

.media-body {
    padding-top: 10px;
}

.myStyle {
    height: 96px;
}

.text-desc {
    font-size: 14px;
    font-weight: normal;
    color:white;
}
.text1-desc{
    font-size: 14px;
    font-weight: normal;
    color:gray;
}

.profile.section {
    margin-top: 15px;
}

.menu {
    margin-top: 5px;
    color:white;
    /*cursor: pointer;*/
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 20px 0 20px 0;
}

.comment_btn {
    float: right;
    margin-bottom: 10px;
}

.comment-hp {
    margin-top: 0px;
}

.like-hp {
    margin-right: 12px;
}

.icon {
    cursor: pointer;
}
.myColorLightYellow{
    color: #f0ad4e;;
}
.icon:hover {
    color: #499ef3;
}
.icon.active {
    color: #499ef3;
}
/*.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {*/
/*    background-color: #7fa5dc;*/
/*    border-color: #337ab7;*/
/*}*/
/*.dropdown-menu>li>a {*/
/*    display: block;*/
/*    padding: 3px 20px;*/
/*    clear: both;*/
/*    font-weight: 400;*/
/*    line-height: 1.42857143;*/
/*    color: #6f6f61;;*/
/*    white-space: nowrap;*/
/*    background-color:#7fa5dc;*/
/*}*/
nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color:#7fa5dc;
}

.comments {
    margin-bottom: 35px;

    padding-bottom: 10px;
}

.subComments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}

.button_style {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-icon {
    cursor: pointer;
}

.myStyle1 {
    height: 40px;
    width: 40px;
}

.image-style {
    height: 250px;
    width: 250px;
    margin-top: 30px;
    padding: 10px;
}

.word {
    font-family: PingFangSC-Regular, sans-serif;

}
.MyColorDark{
    color: #0f0f0f;
}

textarea {
    background-color: transparent;

}
form-control{
    background-color: transparent;
}
text{
    background-color: transparent;
}
input{
    background-color: transparent;

}
.myColor{
    color:#f1e4bf;
}
.myColorBlue{
    color: #f1e4bf;
}
.myColormibai{
    color: #f1e4bf;
}
.myColorWhite{
    color: white;
}
.myColorYellow{
    color: #6f6f61;
}
.label-info {
    background-color: #d2c30ee3;
    padding: 9px;
}