<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/demo1.css"/>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: navigation}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>

            <h2><span class="glyphicon glyphicon-align-left" aira-hidden="ture"></span></h2>
            <hr>

            <div class="media" th:each="question:${pagesList.questionList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object"
                             th:src="${question.user.avatarUrl}"
                             height="60px" width="60px">

                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a  th:href="@{'/question/'+${question.id}}"th:text="${question.title}" ></a>
                    </h4>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span>个评论 • <span
                            th:text="${question.viewCount}"></span> 次浏览 • <span
                            th:text="${#dates.format(question.timeCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagesList.showFirstPage}">
                        <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagesList.showPrevious}">
                        <a th:href="@{'/profile/'+${section}(page=${pagesList.page-1})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagesList.pages}" th:class="${pagesList.page==page}?'active':''"><a
                             th:href="@{'/profile/'+${section}(page=${page})}"
                            th:text="${page}"></a></li>
                    <li>
                    <li th:if="${pagesList.showNext}">
                        <a th:href="@{'/profile/'+${section}(page=${pagesList.page+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt</span>
                        </a>
                    </li>
                    <li th:if="${pagesList.showEndPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pagesList.totalPages})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>

<!--                        <a href="#" aria-label="Next">-->
<!--                            <span aria-hidden="true">&raquo</span>-->
<!--                        </a>-->
                    </li>
                </ul>
            </nav>


        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${section=='questions'} ? 'active list-group-item':'list-group-item' "
                   style="margin-top: 15px">我的问题</a>
                <a href="/profile/replies"
                   th:class="${section=='replies'} ? 'active list-group-item':'list-group-item'">最新回复</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>